<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Lista Consultas</title>
    <link href="css/homeStyle.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
    <script src="sorttable.js" type="text/javascript"></script>
</head>

<body >

<div>
    <nav>
        <div class="nav-wrapper black">
            <a href="#" class="brand-logo white-text">SRM</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Log in</a></li>
                <li><a href="/user/new">Sign in</a></li>
            </ul>
        </div>
    </nav>
</div>
<h1 class="title">LISTA DE USUARIOS</h1>

<div class="w3-container w3-teal">
<table id="myTable" border="1" class="sortable">
    <tr>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Doctor</th>
        <th>Descripcion</th>

    </tr>
    <tr th:each="consulta: ${consultas}">

        <td th:text="${consulta.tipo}">
        </td>
        <td th:text="${consulta.fecha}">
        </td>
        <td th:text="${consulta.user.name}">
        </td>
        <td th:text="${consulta.doctor.nombreDoc}">
        </td>
        <td th:text="${consulta.descripcion}">
        </td>

        <td>
            <a class="waves-effect waves-light btn-small blue" th:href="${ '/consulta/' + consulta.id}">Ver</a>
            <a class="waves-effect waves-light btn-small blue" th:href="${ '/consulta/edit/' + consulta.id}">Editar</a>
            <a class="waves-effect waves-light btn-small blue" th:href="${ '/consulta/delete/' + consulta.id}">Borrar</a>
        </td>
    </tr>
</table>
</div>
<h1><a class="waves-effect waves-light btn-small blue" href="/consulta/new">Nueva Consulta</a></h1>

</body>
</html>