<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Lista Usuarios</title>
    <link href="css/homeStyle.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="container row">
<h1 class="title"> USUARIO </h1>
<div class="container">
    <b>name:</b><span th:text="${user.name}"></span> <br>
    <b>email:</b><span th:text="${user.email}"></span>
</div>

</div>
<div class="well" th:if="${!consultas.isEmpty()}" >
    <table border="1">
        <tr>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Doctor</th>
            <th>Ver Detalle de Consulta</th>
        </tr>
        <tr th:each="consulta: ${consultas}">
            <td th:text="${consulta.tipo}">
            </td>
            <td th:text="${consulta.fecha}">
            </td>
            <td th:text="${consulta.descripcion}">
            </td>
            <td th:text="${consulta.doctor.nombreDoc}">
            </td>
            <td>
                <a class="waves-effect waves-light btn-small blue" th:href="${ '/consulta/' + consulta.id}">Ver
                </a>
            </td>

        </tr>


    </table>
</div>
</body>
</html>